<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(Login, ~{::body})">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <h2>Login page</h2>
  <form method="POST">
    <label for="user">User</label><br>
    <input name="user" type="text" id="user"><br>
    <label for="user">Password</label><br>
    <input name="password" type="password" id="password"><br>
    <input type="submit" value="Зарегистрироваться">
  </form>
  <p>Нет аккаунта? Зарегистрируйтесь по этой <a href="/register">ссылке</a></p>
</body>
</html>