<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(Home, ~{::body})">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
  <body>
  <p>
    <b>Username: </b>
    <span th:if="${is_logged}" th:text="${username}"></span>
    <span th:unless="${is_logged}">Anonymous</span><br>
    <p>
      <a th:if="${is_logged}" href="/logout">Выйти из аккаунта</a>
      <a th:unless="${is_logged}" href="/login">Войти в аккаунт</a>
    </p>
  </p>
  </body>
</html>